* {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    background-image: url('./images/background.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    padding: 0px 10 10 10;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    margin: 0 auto;
    padding: 5px;
    position: relative;
}

h1.maintitle {
    top: 30%;
    margin: 10% auto;
    font-size: 76px;
}

nav{
    background-color: black;
    position: sticky;
    margin: 0;
    padding: 12px;
    top: 0px;
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
}

input {
    background-color: lightgray;
    border: 20px groove gray;
    width: 500px;
    height: 55px;
    font-size: 25px;
}

form {
    margin: 50px 50px;
}

.navbtn {
    color: lightgray;
    background-color: black;
    border: 8px groove gray;
    width: auto;
    padding: 4px;
    margin: 0 10px;
}

.navbtn:hover{
    color: white;
    background-color: black;
    border: 8px groove rgba(166, 127, 28, 0.864);
    cursor: pointer;
}

.navbtn.help {
    width: 280px;
    padding: 4px;
    margin: 50px auto;
}

#mechanicsbutton {
    position: absolute;
    top: 5%;
    right: 3%;
}


.maincontent{
    width: 100%;
    height:100%;
    text-align: center;
    justify-content: center;
    display: inline-block;
}

#playerstats {
    background-color: black;
    border: 12px groove silver;
    padding: 5px 15px;
    padding-bottom: 0px;
}

audio {
    display: hidden;
    position: absolute;
}

.tooltipWeapon {
    position: absolute;
    display: none;
    background-color: black;
    border: 3px groove darkgray;
    z-index: 1000;
    padding: 8px;
}

.tooltiparmor {
    position: absolute;
    display: none;
    background-color: black;
    border: 3px groove darkgray;
    z-index: 1000;
    padding: 8px;
}

.tooltipSpells {
    position: block;
    display: none;
    background-color: black;
    border: none;
    z-index: 1000;
    padding: 8px;
}

#gameplay {
    display: none;
    border: 12px groove silver;
    width: auto;
    height:100%;
    min-height: 100%;
    top: 60px;
}

img.playerimg {
    position: absolute;
    height: 690px;
    width: 500px;
    top: 52%;
    left: 68%;
    border: none;
}

img.monsterimg {
    position: absolute;
    height: auto;
    width: auto;
    top: 18%;
    left: 11%;
}

.monstertitle {
    font-size: 78px;
    padding: 16px;
}

.monsterhealth {
    border: 8px groove rgba(166, 127, 28, 0.864);
    display: inline-block;
    width: auto;
    padding: 10px;
    margin: 10px;
}

.playeroptions {
    position: absolute;
    top: 70%;
    left: 2%;
    display: flex;
    z-index: 900;
}

.equippedweapon {
    width: 360px;
    height: 160px;
    cursor: pointer;
}

.weapon {
    margin: 30px;
    border: 10px groove rgba(166, 127, 28, 0.864);
    display: flex;
    background-color: black;
    max-width: 340px;
    max-height: 200px;
    overflow: hidden;
}

img {
   object-fit: fill; 
   padding: 0;
   margin: 0;
}

.playerstats {
    background-color: black;
    margin: 30px;
    border: 10px groove rgba(166, 127, 28, 0.864);
}

.spellitem {
    border: 4px groove rgba(166, 127, 28, 0.864);
    background-color: rgb(46, 60, 22);
    margin: 6px;
    padding: 6px;
    color: white;
}

a {
    color: lightgray;
    text-decoration: none;
}

.helpinfo {
    position: absolute;
    width: 50%;
    height: auto;
    padding: 50px;
    top: 20%;
    left: 22%;
    right: 30%;
    background-color: black;
    border: 12px groove silver;
    display: none;
    z-index: 2000;
}

p {
    text-align: left;
    color: lightgray;
    font-size: 24px;
    margin-bottom: 0px;
}

ul {
    margin: 0px;
    list-style: none;
    color: white;
    padding-left: 20px;
}

li {
    color: lightgray;
    padding-left: 0px;
    text-align: center;
}

.lossscreen {
    position: absolute;
    width: 64%;
    height: 40%;
    padding: 50px;
    top: 20%;
    left: 22%;
    right: 30%;
    background-color: black;
    border: 12px groove silver;
    display: none;
    z-index: 2500;
}

.logwindow{
    position: absolute;
    display: none;
    width: 20%;
    height: 29%;
    padding: 25px;
    margin: 0;
    top: 18%;
    /* left: 50%; */
    right: 3%;
    background-color: black;
    border: 12px groove silver;
    display: none;
    z-index: 1500;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.logparagraphs{
    color: lightgray;
    font-size: 20px;
    text-align: left;
    white-space: pre-line;
}

.rewardscreen{
    position: absolute;
    display: none;
    /* display: block; */
    min-width: 50%;
    max-width: 55%;
    min-height: 50%;
    max-height: 65%;
    /* overflow: hidden; */
    /* padding: 25px; */
    top: 20%;
    left: 20%;
    /* margin: 0; */
    /* right: 3%; */
    background-color: black;
    border: 12px groove silver;
    z-index: 1500;
}

.weapon.rewardimg {
    margin: 0 auto;
}

.playeroptions.reward{
    margin: 15px auto;
    width: 100%;
}

.navbtn.help.reward {
    margin: 60px auto;
}